body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  
   
}

.container {
    
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
    
    background-color: grey;
    max-width: 80vw;
    height: 40vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,101,121,1) 25%, rgba(0,212,255,1) 100%);
}

.info {
    margin-left: 1.9rem;

    
}

#temperature {
    font-size: 4rem;
    margin-top: -1rem;
}